<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebexDocsWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>webversion</param-name>
    <param-value>1.0.0</param-value>
  </context-param>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.cisco.collabhelp.listeners.SessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/admin/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/admin/adminlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateArticle</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.CreateArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateArticle</servlet-name>
    <url-pattern>/admin/createArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateArticle</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.UpdateArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateArticle</servlet-name>
    <url-pattern>/admin/updateArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateArticleState</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.UpdateArticlesStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateArticleState</servlet-name>
    <url-pattern>/admin/updateArticlesState</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteArticle</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.DeleteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteArticle</servlet-name>
    <url-pattern>/admin/deleteArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadFile</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFile</servlet-name>
    <url-pattern>/admin/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCategory</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.CreateCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCategory</servlet-name>
    <url-pattern>/admin/createCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCategory</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.UpdateCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategory</servlet-name>
    <url-pattern>/admin/updateCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCategory</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.DeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategory</servlet-name>
    <url-pattern>/admin/deleteCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetVerificationCode</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.GetVerificationCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVerificationCode</servlet-name>
    <url-pattern>/admin/getVerificationCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenerateVerificationCodeAndBGImage</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.GenerateVerificationCodeAndBGImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateVerificationCodeAndBGImage</servlet-name>
    <url-pattern>/admin/generateVerificationCodeAndBGImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckUsername</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsername</servlet-name>
    <url-pattern>/admin/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAdmin</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.CreateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAdmin</servlet-name>
    <url-pattern>/admin/createAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAdmin</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdmin</servlet-name>
    <url-pattern>/admin/updateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAdminState</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.UpdateAdminStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminState</servlet-name>
    <url-pattern>/admin/updateAdminState</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAdministrator</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.DeleteAdministratorStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdministrator</servlet-name>
    <url-pattern>/admin/deleteAdministrator</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeProfile</servlet-name>
    <servlet-class>com.cisco.collabhelp.servlets.ChangeProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeProfile</servlet-name>
    <url-pattern>/admin/changeProfile</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/articles/no_page.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.html</location>
  </error-page>
</web-app>